### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [54]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
df = pd.read_csv(file_to_load)
df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [55]:
# use the len function over the total number of unique players to find the number
len(df['SN'].value_counts())

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [56]:
each_item = df.groupby('Item ID')
each_item_df = df['Item ID'].apply(pd.DataFrame)

ValueError: DataFrame constructor not properly called!

In [57]:
# group by around Item ID, then len to show number of items
each_item = len(df.groupby(['Item ID']))
print(each_item)
# narrow the df around Item ID and Price, then find the mean.  
averages = df[['Item ID', 'Price']].drop_duplicates().mean().round(decimals = 2)
average_price = averages['Price']
print(average_price)

# take the sum of the same code above
total_sales = df['Price'].sum()
total_sales

179
3.04

2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [81]:
gender_df = df.groupby(['Gender']).count()[['SN']]

total = len(df)
gender_df['Percentage'] = gender_df['SN'] / total
gender_df

                        SN  Percentage
Gender
Female                 113    0.144872
Male                   652    0.835897
Other / Non-Disclosed   15    0.019231

In [69]:
#count of distinct male players
# male_plyrs_df = df.loc[df['Gender']=='Male'].groupby(['SN'])
# male_plyrs_df.sum()

# female_plyrs_df = df.loc[df['Gender']=='Female'].groupby(['SN'])
# female_plyrs_df.sum()

# other_plyrs_df = df.loc[df['Gender']=='Other / Non-Disclosed'].groupby(['SN'])
# other_plyrs_df.sum()

              Purchase ID  Age  Item ID  Price
SN
Airi27                637   24      163   3.45
Chanosian48           493   70      175   7.52
Eodaisu60             242   16       39   3.94
Haerithp41             82   16      160   4.40
Idairin51             528   40       51   7.00
Jiskirran77           228   20       80   3.39
Lirtim36              401   15       46   1.33
Maluncil97           1178   50      253   5.28
Rairith81             350   15       34   2.22
Siarithria38          769   76      170   6.91
Sundim98              111   21       41   4.75


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame